nav {
  background-color: $primary;
  height: $header-size;
  padding-left: .2rem;
  padding-right: .2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  ul {
    display: block;
    float: right;
    height: 100%;
    list-style: none;
    margin-right: 1rem;

    @media only screen and (max-width: $display-xs){
      float: none;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }
  }

  li {
    display: inline-block;
    height: 100%;
    text-align: center;

    &:hover {
      background-color: $primary-light;
      border-bottom: .1rem solid $secondary;
    }
  }

  a {
    color: $white;
    display: block;
    font-size: $text-subheader;
    padding: .75rem .75rem .5rem;
    text-decoration: none;

    @media only screen and (max-width: $display-xs){
      padding: .75rem .2rem .5rem;
    }
  }
}
