@import './variables';
@import './prism';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  color: $text-primary;
  font-family: $font-pirmary;
  font-size: $text-default;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  box-shadow: 0 2px 4px 4px $color-shadow;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: $header-size + 18px;
  width: 100%;

  @media only screen and (min-width: $display-md){
    width: 1170px;
  }

  @media only screen and (min-width: $display-sm) and (max-width: $display-md){
    width: 970px;
  }

  @media only screen and (min-width: $display-xs) and (max-width: $display-sm){
    width: 750px;
  }
}

.post-list {
  list-style: none;
}

.post {

  padding: 1rem;

  a {
    color: $primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h1 {
    &.title {
      display: inline;
    }
  }

  .title {
    font-family: $font-secondary;
    font-size: 1.5rem;
    text-decoration: none;
  }

  .title-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 150px;
    background-position: 10%;
    margin-left: auto;
    margin-right: auto;
  }

  .body {
    // background-color: $divider;
    // box-shadow: inset 1px 1px 1px 1px $color-shadow;
  }

  .more {
    display: block;
    margin-top: 1rem;
  }


  p {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  ul {
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }

  hr {
    background: $primary;
    background-image: linear-gradient(to right, $white, $primary, $white);
    border: 0;
    height: 1px;
    margin-bottom: 2rem;
    margin-top: .75rem;
  }
}

@import './nav';
@import './home';
