$header-size: 50px;

$font-pirmary:  'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

$text-default: 18px;
$text-header: 1.75rem;
$text-subheader: 1.25rem;
$text-content: 1rem;

$white: #FFFFFF;
$text-primary: #212121;
$text-secondary: #727272;
$primary-dark: #1976D2;
$primary: #2196F3;
$primary-light: #BBDEFB;
$secondary: #FF5722;
$divider: #B6B6B6;
