.welcome-mat {
  height: 100%;
  padding: 2rem;
  width: 100%;

  img {
    display: block;
    height: 65%;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }

  h1 {
    font-family: $font-secondary;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  ul {
    display: block;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: .5rem;
    padding-top: .5rem;
    text-align: center;
  }

  li {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem;

    :hover {
      color: $primary;
      text-decoration: underline;
    }
  }

  a {
    color: $text-primary;
    font-family: $font-secondary;
    text-decoration: none;
  }
}
