$header-size: 50px;

$font-pirmary:  'Roboto', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

$text-default: 18px;
$text-header: 1.75rem;
$text-subheader: 1.25rem;
$text-content: 1rem;

$white: #fff;
$text-primary: #212121;
$text-secondary: #727272;
$primary-dark: #1976d2;
$primary: #2196f3;
$primary-light: #42a5f5;
$secondary: #ff5722;
$divider: #b6b6b6;
$color-shadow: rgba(0, 0, 0, .3);

$display-xs: 768px;
$display-sm: 992px;
$display-md: 1200px;
