{% extends "layout-nav.html" %}
{% block content %}
<ul class="post-list">
  {% for project in collections.projects %}
  <li class="post">
    <article>
      <a class="title" href="/projects/{{ project.title | lower | urelencode |replace(' ', '-', g) }}">{{project.title|title}}</a><span> - {{project.date | date('m/d/Y')}}</span>
      <p class="body">
        <span>{{post.description}}</span>
        <a class="more" href="/projects/{{ project.title | lower | urelencode |replace(' ', '-', g) }}">Continue Reading...</a>
      </p>
      <hr />
    </article>
  </li>
  {% endfor %}
</ul>
{% endblock %}
